* {margin:0; padding:0; outline:none}
body {
font-family:Verdana,Arial; 
color:#091f30; 
}

#header {
background: #537793;
color:#fff;
margin-bottom:5px;
padding:5px 0;
}

#nav {
margin:0 auto;
width:980px;
font-size:0.9em;
}
#nav a  {
color:#fff;
font-weight:bold;
text-decoration:none;
}
#sidebar-left a:link,
#sidebar-left a:visited {
text-decoration:none;
}

#sidebar-left a:focus, 
#sidebar-left a:hover {
text-decoration:underline;
}
#sidebar-left a:active, 
#sidebar-left li.active a {
color: #000;
text-decoration:none;
}

.notes ul li {
display:inline;
margin-right:5px;
}
.notes ul li:after
{
content:",";
} 


#page-wrapper {
margin:0 auto;
width:980px;
}

#main-content {
margin-top:6px;
margin-bottom:20px;
width:780px;
float:right;
}

h1.page-title {
color:#FFFFFF;
margin-left:200px;
margin-top:-27px;
font-size:1em;
}

#sidebar-left {
float:left;
width:200px;
margin-bottom:20px;
}

#sidebar-left h3 {
margin-top:10px;
}

#sidebar-left li {
list-style:none outside none;
}

.menu_block {
border-bottom:1px solid #537793;
margin-right:40px;
padding:5px 0 5px 0;
}

.menu_block h3 {
background:none repeat scroll 0 0 #537793;
color:#fff;
display:block;
margin-top:0px;
padding:2px 5px;

border-top-left-radius: 5px;	
-moz-border-radius-topleft: 5px;
border-top-right-radius: 5px; 	
-moz-border-radius-topright: 5px;
}

ul.elements,
span.elements {
font-size:0.9em;
margin-left:10px;
list-style-type:none;
list-style-image:none;
}

h4 {
margin:0 auto;
width:980px;
margin-top:6px;
}

p.fail {
margin:10px 0;
}


p.tick {
background: url('../images/tick.png') no-repeat;
padding:0 0 20px 20px;
}
p.check {
background: url('../images/question.png') no-repeat;
padding:0 0 20px 20px;
}
p.cross {
background: url('../images/cross.png') no-repeat;
padding:0 0 20px 20px;
}

p.table-title {
margin-top:10px;
padding-bottom:0;
}

.transactions-wrap {
padding-bottom: 15px;
}

#footer {
clear:both;
border-top: 2px solid #eee;
}
#footer .inner {
margin:20px auto;
width:980px;
}

.smaller {
font-size:0.9em;
}
