#! /bin/bash
# 


array=( aa
        adrauk
        asdb
        ausaid
        cafod
        dfid
        dipr
        eu
        ewb_canada
        finland_mfa
        gavi
        hewlett-foundation
        indtrust
        maec-dgpolde
        minbuza_nl
        oxfamgb
        progressio
        pwyf
        rem
        sida
        spark
        theglobalfund
        undp
        unops
        worldbank
      )
#To overide the large array above, e.g. to run the tests on only a few datasets
#create a new array below
#e.g. 
#array=( aa adrauk asdb )

#Assuming your data is held in a directory that can be found at ../data/
#see settings.php to alter this.

##Loop through each element of the array
for i in "${array[@]}"
do
  echo $i
  
  ##The tests. Feel free to comment out ones you don't want to run
  echo "activity dates"
  php activity-dates_test.php $i
  
  echo "basic stats"
  php basic_statistics.php $i
    
  echo "budgets"
  php budgets.php $i
  
  echo "documents"
  php documents.php $i
  
  echo "element counts"
  php element_counts.php $i
  
  echo "geography"
  php geography_tests.php $i
  
  echo "participation"
  php participation_org_tests.php $i
  
  echo "sector"
  php sector.php $i
  
  echo "transaction"
  php transaction_table.php $i
done



